<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sun*ESC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-50 min-h-screen flex flex-col">

    <header class="bg-white shadow p-4 flex justify-between items-center">
      <%= link_to root_path do %>
        <h1 class="text-xl font-semibold text-gray-800">Sun*ESC</h1>
      <% end %>

      <% if current_user %>
        <div class="flex items-center space-x-3">
          <span class="text-gray-700 font-medium"><%= current_user.id.to_s.first(8) %>...</span>
          <%= link_to 'Logout', logout_path, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition" %>
        </div>
      <% else %>
        <%= link_to "Login with Sun*Email", "/auth/google_oauth2", class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 transition" %>
      <% end %>
    </header>
    <main class="flex-grow flex items-center justify-center text-gray-700 text-lg">
      <%= yield %>
    </main>

  </body>
</html>
